body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

#menu {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  list-style-type: none;
  background-color: #fff;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #999;
}

#menu li a:hover {
  color: #09f;
}

.section {
  text-align: center;
}

#titlesection {
  background-image: url("img/headerimg.jpg");
  background-size: cover;
  text-align: center;
  color: #fff;
}

#alpha {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 153, 255, 0.2);
}

h1 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 8em;
  font-weight: bold;
}
#titlesection p {
  font-size: 2em;
}

#problemsection {
  color: #fff;
}

h2 {
  font-size: 3em;
}

p {
  width: 75%;
  font-size: 1.2em;
  margin: 1em auto;
  line-height: 2em;
}

.featureimg {
  width: 15vw;
  float: left;
  margin-left: 15vw;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #999 transparent transparent !important;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #999 !important;
}

.right {
  width: 70vw;
  float: right;
}

.docimg {
  height: 100px;
}

#documentssection ul, #teamsection ul {
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

#documentssection ul li, #teamsection ul li {
  float: left;
  padding: 40px;
}

#teamsection {
  color: #fff;
}

.imgcircle {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.imgcircle img {
  width: 200px;
}